.card{
   font-size:3rem;
   margin: auto;
   margin-top: 2rem;
   width: 30rem;
   height: 35rem;
   background-color:rgba(221, 221, 221, 0.1);
   font-size:1rem;
   text-align: center;
   padding:2rem;
   -webkit-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
   box-shadow: 0px 1px 13px -3px rgba(0,0,0,0.75);
}
.card:hover{
    -webkit-box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 18px -3px rgba(0,0,0,0.75);
}
.nameDetail{
  color:white;
  font-weight: 700;
  background-color:#0097a7;
  padding:0.5rem;
  text-decoration:none;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.name:hover{
    text-decoration:underline;
}
.noDecoration{
    text-decoration:none;
}
.diets{
    background-color: rgb(255, 216, 42);
    border-radius:10px;
    border:solid 1px black;
    width: 100%;
    font-weight: 700;
    padding: 0.1rem;
    list-style: none;
    color:black;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    height:2rem;
    align-items: center;
    justify-content:center;
    margin-right: 4rem;
}
.center{
    display:flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    text-decoration: none;
}
